<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>

<body>

<h1>Dashboard Tips</h1>

<a href="/add-tip">
  Tambah Tip
</a>

<br><br>

<table border="1" cellpadding="10">

<tr>
  <th>ID</th>
  <th>Title</th>
  <th>Description</th>
  <th>Icon</th>
  <th>Action</th>
</tr>

{% for tip in tips %}

<tr>

  <td>{{ tip[0] }}</td>
  <td>{{ tip[1] }}</td>
  <td>{{ tip[2] }}</td>
  <td>{{ tip[3] }}</td>

  <td>

    <a href="/edit-tip/{{ tip[0] }}">
      Edit
    </a>

    |

    <a href="/delete-tip/{{ tip[0] }}">
      Delete
    </a>

  </td>

</tr>

{% endfor %}

</table>

</body>
</html>